# Pandas

Pandas, Python programlama dili için açık kaynaklı, yüksek performanslı, kullanımı kolay veri yapıları ve veri analiz araçlarıdır. Pandas, seriler ve veri çerçeveleri olan tablo benzeri verilerle çalışmak üzere tasarlanmış veri yapıları ve araçlar ekler . Pandas, veri işleme için aşağıdaki özellikleri sağlar.

•	yeniden şekillendirme

•	birleştirme

•	sıralama

•	dilimleme

•	toplama

•	atama

## Installing Pandas(pandas yükleme)

In [ ]:
pip install pandas

•	Pandas veri yapısı Seri ve DataFrame'lere dayanmaktadır. Bir dizi bir sütundur ve bir DataFrame, dizi koleksiyonundan oluşan çok boyutlu bir tablodur. Bir pandas serisi oluşturmak için tek boyutlu diziler veya bir python listesi oluşturmak için numpy kullanmalıyız. 

## Importing Pandas(pandas içe aktarmak)

In [7]:
import pandas as pd
import numpy as np

## Creating Pandas Series with Default Index(Varsayılan Dizin ile PandaS Serisi Oluşturma)

Örnek:

In [2]:
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Creating Pandas Series with custom index(Özel dizinle Pandas Serisi oluşturma)

Örnek:

In [3]:
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1., 2., 3., 4., 5.])
print(s)

1.0    1
2.0    2
3.0    3
4.0    4
5.0    5
dtype: int64

Örnek:

In [4]:
names = ['Büşra','İbrahim','Fatma']
names = pd.Series(names, index=[1, 2, 3])
print(names)

1      Büşra
2    İbrahim
3      Fatma
dtype: object

## Creating Pandas Series from a Dictionary(Sözlükten Pandas Serisi Oluşturma)

Örnek:

In [5]:
dct = {'name':'Büşra','country':'Türkiye','city':'İstanbul'}
s = pd.Series(dct)
print(s)

name          Büşra
country     Türkiye
city       İstanbul
dtype: object


Creating a Constant Pandas Series(Sabit Bir Panda Serisi Oluşturma)

In [6]:
s = pd.Series(10, index = [1, 2, 3])
print(s)

1    10
2    10
3    10
dtype: int64

## Creating a Pandas Series Using Linspace(Linspace Kullanarak Panda Serisi Oluşturma)

Hatırlarsanız linspace Numpy anlatırken de değinmiştik burada Pandas ile ne kadar benzer noktaları olduğunu görebiliriz.

In [8]:
s = pd.Series(np.linspace(5, 22, 10)) # linspace(starting, end, items)
print(s)

0     5.000000
1     6.888889
2     8.777778
3    10.666667
4    12.555556
5    14.444444
6    16.333333
7    18.222222
8    20.111111
9    22.000000
dtype: float64

## DataFrames (Veri Çerçevesi)

Pandas  veri çerçeveleri farklı şekillerde oluşturulabilir.

In [10]:
data = [
    ['Büşra', 'Türkiye', 'İstanbul'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

   Names  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

## Creating DataFrames from List of Lists(Liste Listesinden DataFrames Oluşturma)

In [11]:
data = {'Name': ['Büşra', 'David', 'John'], 'Country':[
    'Türkiye', 'UK', 'Sweden'], 'City': ['İstanbul', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

### Creating DataFrame Using Dictionary(Sözlük Kullanarak DataFrame Oluşturma)

In [12]:
data = [
    {'Name': 'Büşra', 'Country': 'Türkiye', 'City': 'İstanbul'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

## Reading CSV File Using Pandas(Pandas Kullanarak CSV Dosyasını Okumak)

In [47]:
import pandas as pd

df = pd.read_csv('VERİ_LİSTE.csv')
print(df)

   Column2;Soru 1;Soru 2;Toplam
0                 MALE;25;30;75
1               FEMALE;35;30;85
2               FEMALE;35;10;65
3               FEMALE;35;30;85
4               FEMALE;35;35;90
5               FEMALE;35;35;90
6                 MALE;35;35;95
7                 MALE;35;35;90
8                 MALE;35;35;90
9                 MALE;35;35;90
10                MALE;35;35;90
11              FEMALE;35;35;90
12              FEMALE;35;35;95
13                MALE;35;35;95
14              FEMALE;35;35;90
15              FEMALE;35;35;95
16                MALE;35;35;95
17                MALE;35;35;95
18                MALE;35;35;95
19                MALE;35;35;85
20              FEMALE;35;35;90
21              FEMALE;35;35;80
22                MALE;35;35;95
23                MALE;35;35;90

## Veri Keşfi

Head() ile sadece ilk 5 satırı okuyalım.

In [48]:
print(df.head(5))

  Column2;Soru 1;Soru 2;Toplam
0                MALE;25;30;75
1              FEMALE;35;30;85
2              FEMALE;35;10;65
3              FEMALE;35;30;85
4              FEMALE;35;35;90

Ayrıca tail() yöntemlerini kullanarak veri çerçevesinin son kayıtlarını da keşfedelim. Parantez içerisine sayı yazılmazsa son 5 sayı getirir.

In [49]:
print(df.tail())

   Column2;Soru 1;Soru 2;Toplam
19                MALE;35;35;85
20              FEMALE;35;35;90
21              FEMALE;35;35;80
22                MALE;35;35;95
23                MALE;35;35;90

Büyük bir veri setiyle uğraştığınızı düşünün kaç adet sütun ve satır olduğunu otomatik öğrenmek için aşağıdaki komutu kullanabiliriz.

In [50]:
print(df.shape)

(24, 1)

Sütun isimlerini görmek istiyorum aşağıdaki komut ile görebilirim.

In [58]:
print(df.columns)

Index(['Column2;Soru 1;Soru 2;Toplam'], dtype='object')

In [62]:
print(df.describe())

       Column2;Soru 1;Soru 2;Toplam
count                            24
unique                            9
top                   MALE;35;35;95
freq                              6

### Bir DataFrame'i Değiştirme

Bir DataFrame'i Değiştirmek: * Yeni bir DataFrame oluşturabiliriz * Yeni bir sütun oluşturup DataFrame'e ekleyebiliriz, * DataFrame'den var olan bir sütunu kaldırabiliriz, * DataFrame'de var olan bir sütunu değiştirebiliriz, * yapabiliriz DataFrame'deki sütun değerlerinin veri türünü değiştirin

### DataFrame Oluşturma

Her zaman olduğu gibi, önce gerekli paketleri içe aktarıyoruz. Şimdi, şimdiye kadarki en iyi iki arkadaş olan pandaları ve numpy'yi içe aktaralım.

In [63]:
import pandas as pd
import numpy as np
data = [
    {"Column2": "FEMALE", "Soru 1":"25","Soru 2":"15"},
    {"Column2": "MALE", "Soru 1":"25","Soru 2":"25"},
    {"Column2": "FEMALE", "Soru 1":"02","Soru 2":"45"}]
df = pd.DataFrame(data)
print(df)

  Column2 Soru 1 Soru 2
0  FEMALE     25     15
1    MALE     25     25
2  FEMALE     02     45



Önce bir DataFrame oluşturmak için önceki örneği kullanalım. DataFrame'i oluşturduktan sonra sütunları ve sütun değerlerini değiştirmeye başlayacağız.

Yeni Sütun Ekleme
DataFrame'e bir toplam  sütunu ekleyelim.

In [70]:
Toplam=[40,50,47]
df['Toplam']=Toplam
df

  Column2 Soru 1  Soru 2  Toplam  Soru 3
0  FEMALE     25      15      40      15
1    MALE     25      25      50      25
2  FEMALE     02      30      47      30

DataFrame' e 3. soru sütunu ekleyelim.

In [76]:
Soru3=[15,25,30]
df['Soru 3']=Soru3
df

  Column2 Soru 1  Soru 2  Toplam  Soru 3
0  FEMALE     25    14.5      40      15
1    MALE     25    24.5      50      25
2  FEMALE     02    29.5      47      30

### Sütun Değerlerini Değiştirme

2. soru puanı 0.5'er puan azaltı Soru 2 sütununu değiştirelim

In [84]:
df['Soru 2']=df['Soru 2']-0.5
df

  Column2 Soru 1  Soru 2  Toplam  Soru 3
0  FEMALE     25     9.5      40      15
1    MALE     25    19.5      50      25
2  FEMALE     02    29.5      47      30

### DataFrame sütunlarını biçimlendirme

DataFrame'deki sütunların virgülden sonraki halini yuvarlayalım.

In [86]:
df['Soru 2']= round(df['Soru 2'],1)
print(df)

  Column2 Soru 1  Soru 2  Toplam  Soru 3
0  FEMALE     25    10.0      40      15
1    MALE     25    20.0      50      25
2  FEMALE     02    30.0      47      30

In [88]:
nott=['AA','BC','FF']
yıl = pd.Series(2020, index=[0, 1,2])
df['Harf Notu'] = nott
df['Sınav Yılı'] = yıl
df

  Column2 Soru 1  Soru 2  Toplam  Soru 3 Harf Notu  Sınav Yılı
0  FEMALE     25    10.0      40      15        AA        2020
1    MALE     25    20.0      50      25        BC        2020
2  FEMALE     02    30.0      47      30        FF        2020

### Sütun değerlerinin veri türlerini kontrol etme

In [90]:
df['Sınav Yılı'].dtype

dtype('int64')

In [91]:
df['Sınav Yılı'] = df['Sınav Yılı'].astype('int')
print(df['Sınav Yılı'].dtype)

int32

## Satır Değerini Çağırma

In [96]:
print(df[df['Harf Notu'] == 'AA'])

  Column2 Soru 1  Soru 2  Toplam  Soru 3 Harf Notu  Sınav Yılı
0  FEMALE     25    10.0      40      15        AA        2020

In [97]:
print(df[df['Harf Notu'] == 'BC'])

  Column2 Soru 1  Soru 2  Toplam  Soru 3 Harf Notu  Sınav Yılı
1    MALE     25    20.0      50      25        BC        2020