In [1]:
import pandas as pd 
import numpy  as np

In [2]:
nums = [1, 2, 3, 4,5]
s = pd.Series(nums)
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
nums = [1, 2, 3, 4, 5]
s = pd.Series(nums, index=[1., 2., 3., 4., 5.])
print(s)

1.0    1
2.0    2
3.0    3
4.0    4
5.0    5
dtype: int64

1.0    1
2.0    2
3.0    3
4.0    4
5.0    5
dtype: int64

In [7]:
names = ['Büşra','İbrahim','Fatma']
names = pd.Series(names, index=[1, 2, 3])
print(names)

1      Büşra
2    İbrahim
3      Fatma
dtype: object

1      Büşra
2    İbrahim
3      Fatma
dtype: object

In [8]:
dct = {'name':'Büşra','country':'Türkiye','city':'İstanbul'}
s = pd.Series(dct)
print(s)

name          Büşra
country     Türkiye
city       İstanbul
dtype: object

name          Büşra
country     Türkiye
city       İstanbul
dtype: object

In [9]:
s = pd.Series(10, index = [1, 2, 3])
print(s)

1    10
2    10
3    10
dtype: int64

1    10
2    10
3    10
dtype: int64

In [11]:
s = pd.Series(np.linspace(5, 22, 10)) # linspace(starting, end, items)
print(s)


0     5.000000
1     6.888889
2     8.777778
3    10.666667
4    12.555556
5    14.444444
6    16.333333
7    18.222222
8    20.111111
9    22.000000
dtype: float64

0     5.000000
1     6.888889
2     8.777778
3    10.666667
4    12.555556
5    14.444444
6    16.333333
7    18.222222
8    20.111111
9    22.000000
dtype: float64

In [12]:
data = [
    ['Büşra', 'Türkiye', 'İstanbul'], 
    ['David', 'UK', 'London'],
    ['John', 'Sweden', 'Stockholm']
]
df = pd.DataFrame(data, columns=['Names','Country','City'])
print(df)

   Names  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

   Names  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

In [13]:
data = {'Name': ['Büşra', 'David', 'John'], 'Country':[
    'Türkiye', 'UK', 'Sweden'], 'City': ['İstanbul', 'London', 'Stockholm']}
df = pd.DataFrame(data)
print(df)

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

In [14]:
data = [
    {'Name': 'Büşra', 'Country': 'Türkiye', 'City': 'İstanbul'},
    {'Name': 'David', 'Country': 'UK', 'City': 'London'},
    {'Name': 'John', 'Country': 'Sweden', 'City': 'Stockholm'}]
df = pd.DataFrame(data)
print(df)

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

    Name  Country       City
0  Büşra  Türkiye   İstanbul
1  David       UK     London
2   John   Sweden  Stockholm

In [4]:
import csv
import pandas as pd
data=pd.read_csv('veri.csv')
print(data)

                                     No;Ad;Soyad;Birim
0              121419001556;FUNDA;ÇAKAROĞLU;İSTATİSTİK
1                121420071017;ÖVÜNÇ;ALINBAY;İSTATİSTİK
2    121420073040;YAĞIZ;GÜNGÖR;İSTATİSTİK İKİNCİ ÖĞ...
3           121420081059;ŞERİF SELMAN;ŞAHİN;İSTATİSTİK
4             121420091026;BURAK CAN;DÖNMEZ;İSTATİSTİK
..                                                 ...
117          121420201036;ŞÜKRÜ EMRE;BERBER;İSTATİSTİK
118               121420201046;YAKUP;VARDAR;İSTATİSTİK
119          121420201052;OSMAN CAN;KARAMAN;İSTATİSTİK
120              121420201074;JAHAN;SEIDOVA;İSTATİSTİK
121             121420201088;ATAKAN;ERBARUT;İSTATİSTİK

[122 rows x 1 columns]

In [1]:
import csv
import pandas as pd

In [7]:

with open ('veriler.csv', mode ='w') as veriler:
veriler_writer=csv.writer(veriler,delimiter=',', quotechar='"', quoting= csv.QUOTE_MINIMAL)

IndentationError: expected an indented block (Temp/ipykernel_11504/4257765459.py, line 2)

In [16]:
with open("C:\Users\Büşra\Desktop\veriler.csv") as dosya:
    print(dosya.read())

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_1456/113315252.py, line 1)